.dashboard .sidebar {
    z-index: 100000;
    background-color: rgba(255, 153, 36, 1);
    padding-top: 2rem;
    padding-bottom: 3rem;
    height: 100vh;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 350px;
}

.dashboard {
    font-family: 'Poppins';
}

.dashboard-content {
    padding-left: 350px;
    display: flex;
    flex-direction: column;
}

.dashboard-content .dashboard-inner {
    background-color: rgba(255, 223, 184, 0.2);
    position: absolute;
    bottom: 0;
    top: 70px;
    right: 0;
    left: 350px;
}

.dashboard .sidebar .logo {
    width: 80%;
}

.sidebar .nav-icons img {
    width: 24px;
    height: 24px;
}

.sidebar .nav-icons {
    margin-top: 3rem;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
}

.dashboard-grid {
    display: grid;
}

.nav-icons li {
    padding: 0.9rem .6rem;
}

.nav-icons h6 {
    color: white;
}



img {
    width: 100%;
}

ul {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.sidebar-nav-flex {
    transition: .8s;
}

.sidebar-nav-flex:hover {
    background-color: rgb(218, 7, 0);
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
}

.sidebar-nav-flex:hover h6 {
    color: rgb(255, 252, 248);
}

.dashboard-header {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;

}

.dashboard-header img {
    border-radius: 50%;
}

.dashboard-header .user {
    height: 40px;
    width: 40px;
}

.dashboard-header h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #4C4C4C;
}

.dashboard-header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #FF9924;

}

.dashboard-header .notify {
    width: 24px;
    height: 24px;
}


.dashboard-inner .overview {
    padding: 1.4rem;
    border-radius: 5px;
    border: 2px solid rgba(255, 153, 36, 1);
    margin-bottom: 2.5rem;
}

.dashboard-inner .overview h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */

    color: #000000;
}

.dashboard-inner .overview p {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: #000000;
}

.dashboard .dashboard-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
}

.dashboard label {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 167% */


    color: #000000;
}

.dashboard-form p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.dashboard .form-control {
    border: 1px solid rgba(255, 153, 36, 1) !important;
}

.dashboard .checkbox-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.dashboard input[type="checkbox"] {
    transform: scale(2);
}

.dashboard .dashboard-buy {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 202px;
    height: 50px;
    background: #FF9924;
    border-radius: 5px;
    border: none;
}

.buy-padding {
    padding: 3rem 9rem !important;
}

.buy-padding .form-control {
    width: 219px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #FF9924;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */


    color: #000000;
}

#wallet-address {
    width: 464px;
}

.dashboard-inner .mobile-padding {
    margin-top: 2rem;
}

.dashboard-background {
    background-color: #ffffff !important;
}

.dashboard-inner-white {
    background-color: #FFFFFF !important;
}

.dashboard-container-box {
    font-family: 'Poppins';
}

.dashboard-container-box .name-account {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.dashboard-container-box .welcome-account {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #FF9924;
}

.dashboard-container-box .verify-account {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.dashboard-container-box .verify-account-button {
    width: 195px;
    height: 50px;
    left: 464px;
    top: 306px;
    background: #FF9924;
    border-radius: 5px;
}


.transactions-number h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.transactions-number p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.chart-flex-container {
    display: grid;
    grid-template-columns: 68% 28%;
    height: 100%;
    gap: 2rem;
}


.chart-flex-container .chart-container {
    background: #FFF8EE;
    border-radius: 5px;
    padding: 2rem;
    
}

.chart-other {
    background: #FFF8EE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.drop-select {
    border: none;
    text-align: left;
}

.chart-other .verification-status {
    background-color: #FC8218;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.verification-status img {
    width: 40px;
}

.chart-verification-page .verification-two{
    background: #FFF8EE;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-top: 2rem;
}

.buy-padding.dashboard-padding {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.verification-status-two img {
    width: 15px;
    height: 15px;
}


.verification-status-two p {
    font-size: 12px;
}


.selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/
    
  }
  
  .selectdiv:after {
      content: '\f078';
      font: normal normal normal 17px/1 FontAwesome;
      color: #807D9B;
      left: 65px;
      top: 6px;
      height: 34px;
      padding: 15px 0px 0px 8px;
      border: none;
      position: absolute;
      pointer-events: none;
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    text-align: left;
    display: block;
    width: 100%;
    /* max-width: 320px; */
    height: 50px;
    margin: 5px 0px;
    padding: 0px 0px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-image: none;
    border: none;
    -ms-word-break: normal;
    word-break: normal;
  }















































@media screen and (min-width: 1600px) {
    .buy-padding .form-control {
        width: 300px;
    }

    #wallet-address {
        width: 764px;
    }

}

@media screen and (min-width: 1920px) {
    .buy-padding .form-control {
        width: 380px;
    }

}


@media screen and (max-width: 820px) {
    .dashboard-inner .overview h4 {
        line-height: 40px;
    }

    .mb-5.mt-5.dashboard-form-single label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .dashboard-form.mobile .form-control {
        height: 40px;
        border: 1px solid #FF9924;
        border-radius: 5px;
    }

    .dashboard-form.mobile label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    #wallet-address {
        width: 100% !important;
        height: 40px;
        border: 1px solid #FF9924;
        border-radius: 5px;
    }

    .dashboard-inner .mobile-padding {
        margin-bottom: 7rem;
    }

    .dashboard-buy-mobile {
        width: 129px;
        height: 40px;
        background: #FF9924;
        border: 1px solid #FC8218;
        border-radius: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        color: #000000;
    }

    .css-111rfow-MuiStack-root>:not(style)+:not(style) {
        margin-left: 20px !important;
    }

    .dashboard-form.mobile input[type="checkbox"] {
        transform: scale(1.06);
    }
}