.buy-bitcoin {
    padding: 5rem;
    background-color: rgba(241, 106, 35, 0.06);
    font-family: 'Poppins';
}

.buy-bitcoin h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 56px;
    color: #000000;
}

.buy-bitcoin p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
}

.buy-bitcoin button {
    background: rgba(255, 153, 36, 1);
    color: rgba(0, 0, 0, 1);
    width: 144px;
    height: 54px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
}

.buy-flex {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.buy-flex div:first-of-type {
    width: 70%;
}


.newsletter {
    padding: 5rem;
    font-family: 'Poppins';
    background: #514847;
}

.newsletter-flex {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}

.newsletter-flex div:first-of-type {
    flex-basis: 50%;
}

.title-news {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #F16A23;
}

.para-news {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 72px;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}


.newsletter .line {
    position: absolute;
    bottom: -15px;
    right: 0px;
    width: 100%;
}

.newsletter .form-box {
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 32px !important;
    color: #F2F2F2 !important;
}

.newsletter-form input {
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #fff;
    height: 53px;
    width: 100%;
    color: #999999;
}

.newsletter-form .subscribe-btn {
    position: absolute;
    width: 144px;
    height: 54px;
    bottom: 10px;
    background: #F16A23;
    border-radius: 8px;
    color: #fff;
    border: none;
    outline: none;
    right: 0px;
}


::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #999999;
}



















@media screen and (min-width: 1920px) {
    .buy-flex {
        gap: 20%;
    }

    .buy-flex div:first-of-type {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .newsletter-flex {
        grid-template-columns: 1fr;
    }

    .buy-flex {
        flex-direction: column;
    }

    .buy-flex img {
        display: none;
    }

    .buy-bitcoin {
        padding: 1rem;
        text-align: center;
    }

    .buy-flex div:first-of-type {
        width: 100%;
    }

    .buy-bitcoin h3 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 3rem;
    }

    .newsletter {
        padding: 1rem;
        /* text-align: center; */
    }

    .para-news {
        font-size: 24px;
        line-height: 36px;

    }

    .form-box .mb-5 {
        margin-bottom: 5px !important;
    }

    .newsletter-mobile {
        padding: 3rem 0;
        padding-bottom: 5rem;
    }

    .newsletter-form .subscribe-btn {
        position: static;
        margin-top: 20px;
        background: #FF9924;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }

    .newsletter-form input {
        border: 1px solid white;
        background: none;
        border-bottom: 1px solid #fff;
        border-radius: 5px;
        padding-left: 10px;
    }

    .buy-button {
        width: 70%;
    }
}


@media screen and (min-width: 360px) and (max-width: 768px) {
    .buy-bitcoin p {
        line-height: 28px;
    }

    .buy-bitcoin {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 250px;
        background-image: linear-gradient(to bottom, rgba(241, 106, 35, 0.06), rgba(241, 106, 35, 0.06)), url("../assets/images/bit-mobile.png");
    }
}