.customer {
    font-family: 'Poppins';
    padding: 5rem;
}

.customer .cust-title {
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
}

.customer-items {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

.customer-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 5rem;

}

.customer-items {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    border-radius: 10px;
}

.customer-items div:first-of-type {
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 60px;
}

.customer-items img {
    width: 25px;
    height: 25px;
}

.customer-flex h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    font-family: 'Inter';
}

.customer-flex p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #A6A6A6;
}


@media screen and (min-width: 1920px) {
    .customer-items {
        padding: 3rem;
    }

    .customer-flex {
        gap: 60px;
    }
}


@media screen and (min-width: 2256px) {
    .customer-items {
        padding: 6rem;
    }

}