.footer-grid {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 50px;
    font-family: 'Poppins';

}

.footer {
    padding: 5rem;
    background: #F16A23;
    color: #fff;
}

.footer .logo {
    width: 200px;
}

.social-icons img {
    width: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.02em;
}

.footer .text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.02em;
}

.footer2 {
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-family: 'Poppins';
}