.navlist ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar {
    position: fixed !important;
    width: 100% !important;
    background: white;
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navlist ul li a {
    text-decoration: none;
    color: var(--black-text);
    font-weight: 400;
    font-family: 'Poppins';
    transition: .7s;

}

.navlist ul li a:hover {
    text-decoration: underline;
    color: var(--brown);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
    padding-top: 10px;
}


.btn-primary {
    background: var(--dark-btn-background) !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px !important;
    width: 100px !important;
    height: 40px !important;
    transition: .7s;
    font-weight: 600 !important;
}

.btn-primary:hover {
    background-color: var(--brown) !important;
    color: #000 !important;
}



