.navlist ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    background: white;
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navlist ul li a {
    text-decoration: none;
    color: var(--black-text);
    font-weight: 400;
    font-family: 'Poppins';
    transition: .7s;
}


.navlist ul li a:hover {
    text-decoration: underline;
    color: var(--brown);
}

.mobile-navlist,
.hamburger {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
    padding-top: 10px;
}


.btn-primary {
    background: var(--dark-btn-background) !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px !important;
    width: 100px !important;
    height: 40px !important;
    transition: .7s;
    font-weight: 600 !important;
}

.btn-primary:hover {
    background-color: var(--brown) !important;
    color: #000 !important;
}



@media screen and (max-width: 820px) {
    .web-header {
        display: none;
    }

    .hamburger {
        top: 22px;
        right: 10px;
        cursor: pointer;
    }

    .mobile-navlist {
        background-color: white;
        z-index: 100000;
        top: 60px;
        border-radius: 5px;
        right: 10px;
    }

    .mobile-navlist a {
        color: #000;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        /* identical to box height, or 562% */
        color: #281F1E;
        transition: .7s;
    }

    .mobile-navlist a:hover {
        color: #000;
    }

    .mobile-navlist,
    .hamburger {
        display: block;
    }
    .mobile-navlist.toggle {
        display: none;
    }

}