.hero {
    background-repeat: no-repeat;
    background-image: url('../assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6.5rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: 80px;
    background-position-x: -5px;
}

.hero-flex-new h4 {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    /* or 125% */

    margin: 0;
    color: #FFFFFF;
}


.hero-flex-new p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* or 150% */
    color: #FFFFFF;

}

.hero-flex-new a {
    background-color: #ff9924;
    color: white;
    padding: .7rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    width: 364px;
    text-align: center;
    font-size: 30px;
    height: 70px;
    font-family: 'Poppins';
    font-weight: 500;
}

.hero-flex-container {
    display: flex;
    justify-content: space-between;
}

.hero-flex-container .hero-flex-new {
    flex-basis: 63%;
}

.hero-flex-new span {
    color: #ff9924;
}

.hero-flex-new {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media screen and (min-width: 1920px) {

    .flexitems p {
        font-weight: 500 !important;
        font-size: 24px !important;
    }
}