@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --black-text: #281F1E;
  --brown: #FE7E10F5;
  --brown-background: rgba(254, 126, 16, 0.96);
  --dark-background: rgb(81, 72, 71);
  --dark-btn-background: rgb(51, 51, 51);
  --border-brown: #F16A23;
  --brown-btn: #FF9924;
  --white: #FFFFFF;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}


body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul li,
li {
  list-style: none;
}

@media screen and (min-width: 1920px) {

  .css-1oqqzyl-MuiContainer-root,
  .css-1qsxih2
  {
      max-width: 1500px !important;
  }
}


@media screen and (min-width: 2256px) {

  .css-1oqqzyl-MuiContainer-root,
  .css-1qsxih2
  {
      max-width: 1900px !important;
  }
}
