@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-text: #281F1E;
  --brown: #FE7E10F5;
  --brown-background: rgba(254, 126, 16, 0.96);
  --dark-background: rgb(81, 72, 71);
  --dark-btn-background: rgb(51, 51, 51);
  --border-brown: #F16A23;
  --brown-btn: #FF9924;
  --white: #FFFFFF;
  
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul li,
li {
  list-style: none;
}