.login {
    background-color: #FF9924;
    font-family: 'Poppins';
}

.login label {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

.login .form-controls:focus {
    border: 1px solid #FF9924;
    outline: 1px solid #FF9924;
    box-shadow: none !important;
}


.login .form-controls {
    border: 1px solid #FF9924 !important;
    height: 48px;
    display: block;
    width: 100%;
    padding: 0 6px;
}


.btn-wide {
    background-color: #FF9924;
    width: 100%;
    margin-top: 1.4rem;
}

.login-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: var(--white);
    border-radius: 20px;
    width: 501px;
    margin: 0 auto;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #281F1E;
}


.login-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-align: center;
}

.signup-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 3rem;
}

.signup-grid .form-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.sign-up .form-control {
    height: 60px;
    border: 1px solid rgba(252, 130, 24, 1) !important;
    font-size: 20px;
}

.sign-up label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 15px;
}

.signup-grid .form-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.sign-up {
    padding-top: 10rem;
    background-color: rgba(255, 223, 184, 0.2);
    padding-bottom: 4.03rem;
}

.sign-up .submit {
    width: 250px;
    height: 64px;
    color: #fff;
    background: #FF9924;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 3.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
}

.select-control {
    width: 140px !important;
    background-color: #FF9924 !important;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    color: #000000;
}

.title-flex {
    display: flex;
    justify-content: space-between;
}



