.login {
    background-color: #FF9924;
    font-family: 'Poppins';
}

.login label {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

.login .form-controls:focus {
    border: 1px solid #FF9924;
    outline: 1px solid #FF9924;
    box-shadow: none !important;
}


.login .form-controls {
    border: 1px solid #FF9924 !important;
    height: 48px;
    display: block;
    width: 100%;
    padding: 0 6px;
    background: #fff;
}


.btn-wide {
    background-color: #FF9924;
    width: 100%;
    margin-top: 1.4rem;
}

.login-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: var(--white);
    border-radius: 20px;
    width: 501px;
    margin: 0 auto;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #281F1E;
}


.login-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-align: center;
}